@use 'sass:color';

@use '@material/theme/color-palette';

$background: #fff;

// Svelte Colors! (Dark Theme)
@use '@material/theme' as theme with (
  $primary: color.scale(#DA291C, $whiteness: -10%),
  $secondary: color.scale(#D9D9D9, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: $background,
  $error: color-palette.$red-700
);

@use '@material/theme/styles';
// MDC Elevation Classes
@use '@material/elevation/mdc-elevation';
@use '@material/elevation/mixins' as elevation;

html,
body {
  background-color: #000;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
 
.my-primary {
  // Set the font color.
  @include theme.property(color, primary);
 
  &.elevated {
    // And the elevation color.
    @include elevation.elevation(4, primary);
  }
}
 
.my-secondary {
  @include theme.property(color, secondary);
 
  &.elevated {
    @include elevation.elevation(4, secondary);
  }
}
